$theme-colors: (
  "primary": var(--primary-color),
  "secondary": var(--secondary-color-3)
);

:root {
  --bs-primary: var(--primary-color);
  --bs-secondary: var(--secondary-color-3);
  --bs-heading-color: var(--strong-color); /* culori de font */

  // dimensiuni de ecran diferite pentru ecrane medii și mari
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 500px;
  --bs-breakpoint-md: 700px;
  --bs-breakpoint-lg: 900px;
  --bs-breakpoint-xl: 1100px;
  --bs-breakpoint-xxl: 1500px;

  // dimensiunea razelor de border
  --bs-border-radius: 0.5rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 1rem;
  --bs-border-radius-xl: 1.5rem;
  --bs-border-radius-xxl: 2.5rem;
  --bs-border-radius-pill: 50rem;

  // font family
  --bs-body-font-family: "Lora", serif;

  // button border radius and border width
  --bs-border-radius: 0.7rem !important;
  --bs-border-width: 2px !important;
}

[data-bs-theme=dark] {
  --bs-body-bg: var(--strong-color);
  --bs-body-color: var(--white-color);
}

h2, .h2 {
  font-size: calc(1.325rem);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 1.5rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.15rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1rem;
  }
}

h5, .h5 {
  font-size: 0.95rem;
}

h6, .h6 {
  font-size: 0.75rem;
}

// încă una sau mai mule variabile alese de voi
button {
  border-radius: var(--btn-border-radius);
  border-width: var(--btn-border-width);
}