$font-size-base: 1rem;
$form-range-thumb-width: $font-size-base * 1.5;
$form-range-thumb-height: $form-range-thumb-width;
$component-active-bg: var(--secondary-color-3);
$form-range-thumb-bg: $component-active-bg;
$form-range-track-bg: var(--primary-color);

input[type="range"] {
    appearance: none;
    &::-webkit-slider-thumb { // Chrome, Safari, Opera
        appearance: none;
        width: $form-range-thumb-width;
        height: $form-range-thumb-height;
        background: $form-range-thumb-bg;
        border-radius: 50%;
    }
    &::-moz-range-thumb { // Firefox
        width: $form-range-thumb-width;
        height: $form-range-thumb-height;
        background: $form-range-thumb-bg;
        border-radius: 50%;
    }
    &::-ms-thumb { // Internet Explorer, Edge
        width: $form-range-thumb-width;
        height: $form-range-thumb-height;
        background: $form-range-thumb-bg;
        border-radius: 50%;
    }
    &::-webkit-slider-runnable-track { // Chrome, Safari, Opera
        background: $form-range-track-bg;
    }
    &::-moz-range-track { // Firefox
        background: $form-range-track-bg;
    }
    &::-ms-track { // Internet Explorer, Edge
        background: $form-range-track-bg;
    }
}