html {
    --dimensiune-text: 14px;
}

body {
    --spatiere--pagina: 50px;
}

#grid-pagina {
    --grid-gap: 0.7143rem; /* 10px to rem, based on 14px root font size */
    grid-template-areas: "zona-unu zona-unu"
                         "zona-doi zona-trei"
                         "zona-doi zona-patru"
                         "zona-cinci zona-sase"
                         "zona-sapte zona-sapte"
                         "zona-opt zona-opt"
                         "zona-noua zona-noua"
                         "zona-zece zona-zece";
}

/* Grid galerie */
#grid-galerie {
    grid-template-columns: repeat(2, 1fr);
}

#grid-galerie > figure:nth-child(2) {
    grid-area: 1/2/2/3;
}

#grid-galerie > figure:nth-child(3) {
    grid-area: 2/1/3/2;
}

#grid-galerie > figure:nth-child(4) {
    grid-area: 2/2/3/3;
}

#grid-galerie > figure:nth-child(5) {
    grid-area: 3/1/4/2;
}

#grid-galerie > figure:nth-child(6) {
    grid-area: 3/2/4/3;
}

#grid-galerie > figure:nth-child(7) {
    grid-area: 4/1/5/2;
}

#grid-galerie > figure:nth-child(8) {
    grid-area: 4/2/5/3;
}

#grid-galerie > figure:nth-child(9) {
    grid-area: 5/1/6/2;
}

#grid-galerie > figure:nth-child(10) {
    grid-area: 5/2/6/3;
}

#grid-galerie > figure:nth-child(11) {
    grid-area: 6/1/7/2;
}

#grid-galerie > figure:nth-child(12) {
    grid-area: 6/2/7/3;
}