html {
    --dimensiune-text: 14px;
}

body {
    --spatiere--pagina: 50px;
}

#grid-pagina {
    --grid-gap: 0.7143rem; /* 10px to rem, based on 14px root font size */
    grid-template-areas: "zona-unu zona-unu"
                         "zona-doi zona-trei"
                         "zona-doi zona-patru"
                         "zona-cinci zona-sase"
                         "zona-sapte zona-sapte"
                         "zona-opt zona-opt";
}