<footer>
    <address id="contact">                
        <p>Telefon: <a href="tel:+40123456789">+40 123 456 789</a></p>
        <p>Adresă: <a href="https://maps.app.goo.gl/wdN45fjAu5Ftp2Ec8">Strada Proiectului, Nr. 1, București</a></p>
        <p>Email: <a href="mailto:contact@mobilacupoveste.ro">contact@mobilacupoveste.ro</a></p>
        <p>Chat: <a href="skype:live:contact?chat"><i class="fa-brands fa-skype"></i></a> | <a href="https://wa.me/40123456789"><i class="fa-brands fa-whatsapp"></i></a></p>
    </address>
    <small>&copy; <time datetime="2023-10-29">2023</time> Mobila cu poveste. Toate drepturile rezervate.</small>
    <a href="#" id="link-top" title="Back to the top"><div id="sageata"></div></a>
    <p id="banner-printare">Acesta este un proiect școlar!</p>
</footer>