<header>
    <h1>Mobila cu poveste</h1>
    <p id="watermark">Vlad<br>Raluca</p>
    <nav>
        <input id="ch-menu" type="checkbox" style="display: none;">
        <div class="hamburger-menu-container">
            <label for="ch-menu" id="hamburger-menu">
                <div></div>
                <div></div>
                <div></div>
            </label>
        </div>
        <ul class="meniu">
            <li><a href="/index" id="container-acasa"><span class="fas fa-regular fa-house"></span><div id="acasa">Acasa</div></a></li>
            <li><a href="/despre">Despre</a></li>
            <li>
                <a href="/produse">Produse</a>
                <ul>
                    <li><a href="/mobila">Mobila</a></li>
                    <li><a href="/accesorii">Accesorii</a></li>
                    <li><a href="/workshopuri#testimoniale">Testimoniale</a></li>
                </ul>
            </li>
            <li><a href="/index#contact">Contact</a></li>
            <li><a href="/index#resurse">Resurse</a></li>
        </ul>
    </nav>
</header>